<form  action="/editer" id="editer" class="form_editer" method="post">
    <h2 class="form-heading">Edit the card</h2>
    <label for="cardId" class="sr-only">cardId  </label>
    <input type="text" class="form-control"  id="cardId" placeholder="cardId" required>
    <label for="name" class="sr-only">name  </label>
    <input type="text" class="form-control"  id="name" placeholder="name" required>

    <label for="imageUrl" class="sr-only">imageUrl  </label>
    <input type="text" class="form-control"  id="imageUrl" placeholder="imageUrl" required>

    <label for="cost" class="sr-only">cost  </label>
    <input type="text" class="form-control"  id="cost" placeholder="cost" required>

    <label for="attack" class="sr-only">attack  </label>
    <input type="text" class="form-control"  id="attack" placeholder="attack" required>

    <label for="defense" class="sr-only">defense  </label>
    <input type="text" class="form-control"  id="defense" placeholder="defense" required>

    <label for="type" class="sr-only">type  </label>
    <input type="text" class="form-control"  id="type" placeholder="type" required>

    <label for="text" class="sr-only">text  </label>
    <input type="text" class="form-control"  id="text" placeholder="text" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit">submit</button>
</form>