<html>
    <head>
        <% include ../partials/admin_generic %>
    </head>
    <body style="display: inline-grid; margin: auto">
        <label for="matchId">Match ID</label>
        <input type="text" id="matchId" />
        <input type="button" onclick="joinMatch()" value="Connect" />
    </body>
</html>