<html>
    <head>
        <% include ../partials/generic %>
    </head>
    <body style="padding-top: 65px;">
            <% include ../partials/header %>
            <% include ../partials/card_uploader.ejs %>
    </body>
</html>