<html>
    <head>
            <% include ../partials/generic %>
            <script src="/javascript/editer.js"> </script> 
        </head>
        <body>
            <% include ../partials/card_editer %>
            
        </body>
<input