<html>
    <head>
        <% include ../partials/generic %>
    </head>
    <body style="padding-top: 65px;">
        <% include ../partials/header %>
        <div class="index">
            <div class="index_main">

            </div>
            <div class="index_side">
                <% include ../partials/index_sidepanel %>
            </div>
        </div>
    </body>
</html>
