<html>
        <head>
                <% include ../partials/generic %>
                <script src="/javascript/login.js"> </script> 
            </head>
            <body>
                <% include ../partials/login_form %>
                
            </body>
<input