<html>
        <head>
            <% include ../partials/generic %>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
            <script src="/javascript/match.js"></script>
        </head>
        <body style="padding-top: 65px;">
                <% include ../partials/header %>
                <button class="play_button" onclick="matchfinder_button()">
                    <h1 style="text-align:center">Find Match</h1>
                </button>
        </body>
    </html>