<html>
    <head>
            <% include ../partials/generic %>
            <script src="/javascript/register.js"> </script> 
        </head>
        <body>
            <% include ../partials/register_form %>
        </body>
</html>